.row {
    display: flex;
}

.col-1 {
    flex: 10%;
    padding: 10px;
}

.col-2 {
    flex: 90%;
    padding: 10px;
}

.box {
    width: 200px;
    height: 200px;
    border: 5px solid brown;
    background-color: burlywood;
}